.menu-principal {
  margin-top: 2rem;
}

.navbar-Principal {
  margin-top: 2rem;
  background-color: #21516e;
  color: #ffff;
}

.style-1 {
  background-color: #056DAE;
  color: #ffff;
}

.style-2 {
  background-color: #21516e;
  color: #ffff;
  transition: background 0.2s;
}

.link-desconexion {
  background: #b30c4c;
  padding: 1px 1px;
  font-size: 12px;
  font-weight: bold;
}

/*Texto*/

.NavTop-Text1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
}

/*Base*/

.container-principal {
  padding: 0%;
}

.sepmar {
  margin-left: 10rem;
  margin-right: 10rem;
}

/*HomeUser*/

.text-paragraph {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  margin-bottom: 0rem
}

.text-Ttle-bold {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
}

.card-facilidades {
  display: inline;
}

.text-Main {
  margin-top: 1.6rem;
  margin-left: 2.3rem;
}

.card-Main {
  margin-top: 2.2rem;
  margin-right: 2.3rem;
}

/*Form1SC*/

/*Form2SC*/

.uso-cuenta {
  margin-top: 1.4rem;
}

.card-Principal-Form {
  margin-top: 1.5rem;
}