{% extends "Base2.html" %}
{% load static %}
{% block content %}
            <!-- Contenido -->
            <div class="container" style="background-color: #F5F7FC; height: 550px; text-align: center; padding-Top:20px">
                <table class="table table-hover">
                    <thead>
                        <tr style="background: #21516e; border-bottom: solid 10px #056DAE; color:white; border: solid 1px #21516e;">
                        <th scope="col">Código</th>
                        <th scope="col">Fecha de Cita</th>
                        <th scope="col">Dirección de Oficina</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="border: solid 1px #21516e;">
                            <th scope="row">G5D46S4</th>
                            <td>12/09/2021</td>
                            <td>Los Leones-Barquisimeto</td>
                        </tr>
                            </tbody>
                </table>
                <div class="buttons" style="display: flex; padding:100px;">
                    <a type="button" class="btn btn-outline-info" href="{% url 'Visualize' %}">Visualizar</a>
                    <button style="margin-left: 10px" type="button" class="btn btn-outline-success">Descargar</button>
                </div>
             </div>
{% endblock content %}