{% extends "../base.html" %}
{% block content %}
<div class="home-content">
  <div class="home-user">
    <p class="title-2">Hola, <span class="fw-bold"> {{user}} </span>. Bienvenido </p>
  </div>
  <div class="home-content-blocks-course-horizontal">
    {% for block_courses_horizontal in blocks_courses_horizontal %}
    {% include "components/block_courses_horizontal.html" %}
    {% endfor %}
  </div>
  <div class="home-content-blocks-course">
    {% for block_courses in blocks_courses %}
    <div class="{% cycle 'block-courses-1' 'block-courses-2 style-light-1' %}">
      {% include "components/block_courses.html" %}
    </div>
    {% endfor %}
    <div class="publicity my-5">
      <img src="../../static/images/others/publicity-1.jpg" alt="" class="publicity--img">
    </div>
  </div>
</div>
{% endblock content %}