{% extends "Base.html" %}
{% load static %}
{% block owrnStyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styleBase.css' %}">
{% endblock %}
{% block content %}
<div class="container presentation" style="background-color: #F5F7FC; height: 550px;">
    <div class="presentation--center" style="height: 500px; width: 100%;">
        <div class="container-image">
            <img src="https://images.pexels.com/photos/5225444/pexels-photo-5225444.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"  class="img-fluid container-image__image" alt="banner">
        </div>
        <h1 class="mt-4 text--style-dark banner-text">Tu banco Ideal</h1>
        <p class="text--style-dark banner-text">Con los mejores intereses del mercado</p>
    </div>
</div>  
{% endblock content %}
{% load crispy_forms_tags %}