<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!--load all styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleLandingPage.css' %}">

    <!--Font style styles -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">

    {% block owrnStyle %}
    {% endblock %}
    <title>Guacamaya Bank</title>
</head>
  <body>

<!--[if IE 9]>
NAVBAR
<![endif]-->

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
        <div class="navbar-brand">
            <img src="{% static 'images/LandingPage/logo.png'%}" alt="" width="200" height="30" class="d-inline-block align-text-top">
                
        </div>

        <div class="navbar-ingresar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Ingresar</a>
                 </li>
             </ul>
        </div>    

    </div>
</nav>


<!--[if IE 9]>
SECCION BANNER
<![endif]-->

<div class= "section-banner"> 
  <div class="banner-photo">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/LandingPage/b1.png'%}" class="d-block w-100" alt="..." width="100%" height="400px">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/LandingPage/b2.png'%}" class="d-block w-100" alt="..." width="100%" height="400px">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/LandingPage/b3.png'%}" class="d-block w-100" alt="..." width="100%" height="400px">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/LandingPage/b4.jpg'%}" class="d-block w-100" alt="..." width="100%" height="400px">
    </div>
  </div>
</div>
  
  
  </div>

  


  <div class="banner-card"> 
    <div class="card-content">
      <h1>  Sistema de pre-apertura </h1>
      <h1>  <b> de cuenta Bancaria </b></h1>
      <p> Realiza tu solicitud desde la comodidad de tu hogar, con el sistema más seguro de todo el País</p>
      <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Me Interesa</a>
    </div>
  </div>



</div>

<!--[if IE 9]>
SECCION BIENVENIDA
<![endif]-->

<div class= "section-welcome">

<h2>Bienvenido al banco de todos</h2>


<div class="card mb-3" style="max-width: auto;">
  <div class="row g-0">
 
    <div class="col-md-6">
      <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-6">
      <img src="{% static 'images/LandingPage/client.png'%}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body-izq">
        <h5 class="card-title-izq">Conviértete en un cliente guacamaya</h5>
        <p class="card-text-izq">¡Regístrate!</p>
      </div>
    </div>
  </div>
</div>
    </div>

    <div class="col-md-6">
      
      <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    
      <img class = "welcome-img"src="{% static 'images/LandingPage/clic.png'%}" class="card-img-top" alt="..."  >
      <div class="card-body-der">
        <h5 class="card-title-der">Fácil</h5>
      </div>
    
  </div>

  <div class="col">
    
      <img class = "welcome-img"src="{% static 'images/LandingPage/time.png'%}" class="card-img-top" alt="..."  >
      <div class="card-body-der">
        <h5 class="card-title-der">Rápido</h5>
      </div>
    
  </div>

   <div class="col">
    
      <img class = "welcome-img"src="{% static 'images/LandingPage/shield.png'%}" class="card-img-top" alt="..."  >
      <div class="card-body-der">
        <h5 class="card-title-der">Seguro</h5>
      </div>
    
  </div>

    
  </div>

</div>
    </div>
  </div>
</div>








</div>


<!--[if IE 9]>
SECCION SOLICITUD EN LINEA
<![endif]-->

<div class= "section-online">
<h2>Solicitud en línea</h2>

<div class="card mb-3" style="max-width: auto;">
  <div class="row g-0">
 
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">Conoce los <b>distintos pasos</b> para la <b>pre-apertura</b> de tu cuenta Bancaria</h5>
        <div class="card-text">
          
                <li><img src="{% static 'images/LandingPage/check.png'%}" alt="" width="25" height="25" class="d-inline-block align-text-top"> Haz clic en solicitar Cita</li>
                <li><img src="{% static 'images/LandingPage/check.png'%}" alt="" width="25" height="25" class="d-inline-block align-text-top"> Ingrese datos solicitados</li>
                <li><img src="{% static 'images/LandingPage/check.png'%}" alt="" width="25" height="25" class="d-inline-block align-text-top"> Seleccione su oficina de preferencia</li>
                <li><img src="{% static 'images/LandingPage/check.png'%}" alt="" width="25" height="25" class="d-inline-block align-text-top"> Descargue el comprobante</li>
            

        </div>
        
      </div>
    </div>

    <div class="col-md-6">
      <img src="{% static 'images/LandingPage/online.png'%}" class="img-fluid rounded-start" alt="...">
    </div>
  </div>
</div>


</div>

<!--[if IE 9]>
SECCION CONOCENOS
<![endif]-->

<div class="section-we">

<h2>Conocenos</h2>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" >
    <div class="card">
      <img src="{% static 'images/LandingPage/mision.png'%}" class="card-img-top" alt="...">
      <div class="card-body">
        <a class="nav-link active" aria-current="page" href="#">Mision</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static 'images/LandingPage/vision.png'%}" class="card-img-top" alt="...">
      <div class="card-body">
        <a class="nav-link active" aria-current="page" href="#">Vision</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static 'images/LandingPage/goals.png'%}" class="card-img-top" alt="...">
      <div class="card-body">
        <a class="nav-link active" aria-current="page" href="#">Objetivos</a>
      </div>
    </div>
  </div>
</div>

</div>

<!--[if IE 9]>
SECCION AYUDA
<![endif]-->

<div class= "section-help">

<div class="card mb-3" style="max-width: auto;">
  <div class="row g-0">
 
    <div class="col-md-6">
      <div class="card-body">
      
      <img src="{% static 'images/LandingPage/help.png'%}" alt="...">
      
        <h5 class="card-title">Déjanos ayudarte</h5>
        <div class="card-text">
          <p>¿Tienes algún problema con tu cuenta?</p>
        </div>

         <a href="#" class="btn btn-primary">Solicitar Ayuda</a>
        
      </div>

    </div>

    <div class="col-md-6">

    <div class= "list-help"> 

        <ul>¿Tienes dudas acerca de nuestro servicio?
          <li>  
            <a class="list-link" aria-current="page" href="#">Ir a el centro de Ayudas</a>
          </li>
        </ul>
        <ul>¿Buscas nuestra locación física?
          <li>  
            <a class="list-link" aria-current="page" href="#">Localizar</a>
          </li>
        </ul>
        <ul>¿Necesitas Hablar con Nosotros?
          <li>Llama al 0424 580 93 83</li>
        </ul>
      </div>
      
    </div> 
  </div>
</div>

</div>  

<!--[if IE 9]>
FOOTER
<![endif]-->

<div class= "footer-up"> 

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class= "footer-logo">
      <img src="{% static 'images/LandingPage/logo.jpeg.png'%}" alt="" width="200" height="30" class="d-inline-block align-text-top">
    </div>
      <div class="navbar-nav">
        <a class="nav-link" href="#"> <img src="{% static 'images/LandingPage/facebook.png'%}" alt="" width="30" height="30" class="d-inline-block align-text-top"></a>
        <a class="nav-link" href="#"> <img src="{% static 'images/LandingPage/twitter.png'%}" alt="" width="30" height="30" class="d-inline-block align-text-top"></a>
        <a class="nav-link" href="#"> <img src="{% static 'images/LandingPage/youtube.png'%}" alt="" width="30" height="30" class="d-inline-block align-text-top"></a>
      </div>
</nav>
</div>

<div class= "footer-down"> 

<div class="container-fluid">

    <div class= "footer-links">
      
      <li>Copyright guacamayabank 2021 -Todos los derechos reservados</li>
      <li><a  aria-current="page" href="#">Conocenos</a</li>
      <li><a  aria-current="page" href="#">Terminos y Condiciones</a</li>
      <li><a  aria-current="page" href="#">Politicas de privacidad</a</li>
      <li><a  aria-current="page" href="#">Politicas de cookies</a</li>
    </div>
      </div>
  </div>
</div>
    
    
    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

  </body>
</html>

