{% extends '../base.html' %}
{% block content %}
    <div class="login-register text-center py-5">
        <div class="login-register-title">
            <p class="title py-5">{{title}}</p>
        </div>
        <div class="login-register-form">
            <div class="login-register-form-buttoms">
                    <button class="login-register-form__buttom button--facebook btn-dark-2"><i class="fab fa-facebook-f mx-2"> </i> {{button_facebook}}</button>
                    <button class="login-register-form__buttom button--gmail"><i class="fab fa-google mx-2"> </i> {{button_gmail}}</button>
            </div>
            <form class="was-validated" action="">
                <div class="form-floating mb-2">
                    <input type="email" class="form-control style-dark-1" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Correo electronico</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control  style-dark-1" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Contraseña</label>
                </div>
                <button class="login-register-form__buttom my-3" type="submit" name={{button_option}}>{{button_option}}</button>
                <div class="form__termins text-mini-2 mb-4">
                    <input class="mx-2 px-2" type="checkbox" name="" id=""><label for="" class=""> Acepto los Términos, Condiciones y Políticas
                        de Damage Conntrol</label>
                </div>
            </form>
        </div>
        <div class="">
            <p class="text-mini">{{message_extra}} <a href={{href_extra}} class="text-mini link-dark-2 link--decoration-none mx-2">{{message_extra_href}}</a></p>
        </div>
    </div>
{% endblock content %}
    