{% extends '../base.html' %}
{% block content %}
<div class="plans">
    <div class="plans-title">
        <p class="title">
            Educación Online por 1 año
        </p>
    </div>
    <div class="plans-content">
        <div class="plan-content-individual">
            <p class="title-2">Plan Básico</p>
            <p class="sub-title"><span  class="align-text-bottom">USD</span><span class="title-2"> 5 </span> <i>por mes</i></p>
            <a  class="w-100 d-block border border-2 border-white btn-dark-1 py-3 link--decoration-none" href="">Unirse</a>
        </div>
        <div class="plan-content-individual">
            <p class="title-2 special">Plan Avanzado</p>
            <p class="sub-title"><span class="align-text-bottom">USD </span><span class="title-2">10</span> <i>por mes</i></p>
            <a  class="w-100 d-block border border-2 border-white btn-dark-1 py-3 link--decoration-none" href="">Unirse</a>
        </div>
    </div>
</div>
{% endblock content %}
    