{% extends "../base.html" %}
{% block content %}
<div class="search">
  <div class="search-content-head">
    <img src="" alt="" class="search-content-head__img">
    <p class="search-content-head__title title-2 fw-bold">Elige que te gustaría aprender:</p>
  </div>
  <div class="search-content">
    <div class="search-content-form style-dark-2">
      <button class="search-content-form__button style-dark-2 sub-title"><i class="fas fa-search"></i></button>
      <input type="search" class="search-content-form__input style-dark-2 sub-title" placeholder="Busca tu curso favorito" name="search"
        id="search">
    </div>
    <div class="search-content-recent">
      <p class="sub-title">Recientemente:</p>
      {% for link_recent in list_links_recent %}
      <a href="{{link_recent.href}}" class="text-mini btn-dark-1-borders link--decoration-none">{{link_recent.name}}</a>
      {% endfor %}
    </div>
  </div>
  <div class="search-content-blocks-course">
    {% for block_courses in blocks_courses %}
    <div class="{% cycle 'block-courses-1' 'block-courses-2 style-dark-2' %}">
      {% include "components/block_courses.html" %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}