<!DOCTYPE html>
{% extends "Base.html" %}
{% load static %}
{% block content %}
        <nav class="navbar-expand-lg navbar-Principal">
            <!-- Top navigation-->
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav nav-justified mt-2 mt-lg-0">
                        <li class="nav-item mx-5 px-5">
                            <a class="nav-link style-2 NavTop-Text" href="#">Cuenta</a>
                        </li>
                        <li class="nav-item mx-5 px-5">
                            <a class="nav-link style-2" href="#">Tatarjeta</a>
                        </li>
                        <li class="nav-item mx-5 px-5">
                            <a class="nav-link style-2" href="#">Prestamo</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Sidebar-->
        <div class="d-flex">
            <!-- Sidebar Cuenta-->
            <div class="col-md-3" id="collapseCuenta">
                <div class="border-end bg-white" id="sidebar-wrapper">
                    <div class="list-group list-group-flush">
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
                            Cuenta numero 1
                        </a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
                            CuentaNumero 2 
                        </a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                             Preapertura de cuenta
                        </a>
                            <div class="collapse" id="collapseExample">
                                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/Frontend/template/components/Solicitar Cita.html" >
                                    Solicitar Cita
                                </a>
                                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/Frontend/template/components/Ver Cita.html">
                                    Ver Cita
                                </a>
                            </div>
                    </div>
                </div>
            </div>
            <!-- Contenido -->
            <div class="container-fluid">
                <h1 class="mt-4">Simple Sidebar</h1>
                <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
                <p>
                    Make sure to keep all page content within the
                    <code>#page-content-wrapper</code>
                    . The top navbar is optional, and just for demonstration. Just create an element with the
                    <code>#sidebarToggle</code>
                    ID which will toggle the menu when clicked.
                </p>
            </div>     
      </div>
{% endif %}
{% endblock content %}